<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<form action="." method="post">
    {{ form.as_p }}
    <input type="submit" value="Submit" name="submit">
</form>
<div>
    <ul>
        {% for var in decision_variables %}
            <li>{{ var.name_out }} : {{var.description}} in [ {{var.unit}} ]</li>
        {% endfor %}
    </ul>
</div>
<ul>
{% for path in graphic_paths %}
    <li><img src="{{ path }}" /></li>
{% endfor %}
</ul>

</body>
</html>